<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' href='./css/home.css'>

</head>
<body>
<div style='width: 100%;height: 100%'>
    <div>
        <h1>Yodlee FastLink Integration</h1>
        <div>
            <div id='btn-fastlink' class='button'>Link An Account</div>
            <div id='loader'></div>
        </div>
    </div>
    <div id='container-fastlink' class='box'>
        <a id='btn-close'></a>

    </div>
</div>
{{!-- <script type='text/javascript' src='https://cdn.yodlee.com/fastlink/v4/initialize.js'></script> --}}
<script type='text/javascript' src='/FL4/initializev4.js'></script>

<script>
    (function (window) {
        var handlePostMessage = function(data) {
            console.log('--== 1handlePostMessage ', data);
            if(data && data.type && data.type.length > 0 || data && data.action === "exit") {
                
                console.log('--== 2 URL ', data?.data?.url);
                data = JSON.stringify(data)
                console.log('--== 2 handlePostMessage ', data);
                if (window.ReactNativeWebView) {
                    window.ReactNativeWebView.postMessage(data);
                }
                if (window.SampleAppWebViewHandler) {
                    window.SampleAppWebViewHandler.postMessage(data);
                }
                if (window.webkit &&
                        window.webkit.messageHandlers &&
                        window.webkit.messageHandlers.SampleAppWebViewHandler) {
                    window.webkit.messageHandlers.SampleAppWebViewHandler.postMessage(data);
                } else {
                    console.log('--== handle post message based on IFrame Integration ==--');
                    const dataEntity = JSON.parse(data);
                    if (dataEntity && dataEntity.type === 'OPEN_EXTERNAL_URL') {
                        const {url} = dataEntity.data;
                        window.open(url)
                    }
                }
            }
        }
        var fastlinkBtn = document.getElementById('btn-fastlink');
        fastlinkBtn.addEventListener('click', function () {
            window.fastlink.open({
                fastLinkURL: '{{ fastLinkURL }}',
                accessToken: '{{ accessToken }}',
                params: '{{extraParams }}',
                containerClass : "demo",
                forceIframe: true,
                windowResize:false,
                onSuccess: function (data) {
                    console.log("--== postMessage :: onSuccess ", data);
                },
                onError: function (data) {
                    console.log("--== postMessage ::  onError", data);
                },
                onClose: function (data) {
                    console.log("--== postMessage ::  onClose", data);
                    handlePostMessage(data);
                    // document.getElementById('container-fastlink').style.display = 'none';
                    // document.getElementById('loader').style.display = 'none';
                    // document.getElementById('btn-fastlink').style.display = 'block';
                },
                onEvent: function (data) {
                    console.log(data)
                    handlePostMessage(data);
                }
            }, 'container-fastlink');
            document.getElementById('loader').style.display = 'block';
            document.getElementById('btn-fastlink').style.display = 'none';
            document.getElementById('container-fastlink').style.display='block';

        }, false);

        var closeBtn = document.getElementById('btn-close');
        closeBtn.addEventListener('click', function(){
            window.fastlink.close();
            //document.getElementById('container-fastlink').classList.remove('box');
            document.getElementById('container-fastlink').style.display = 'none';
            document.getElementById('loader').style.display = 'none';
            document.getElementById('btn-fastlink').style.display = 'block';

        }, false);

    }(window));
</script>
</body>
</html>
