<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/login.css">
</head>
<body>

<form class="login" method="post" action="/FL4/home">
    <h1 class="login-title">Cobrand User Login</h1>
    <input type="text"
           class="login-input"
           placeholder="FL URL"
           autofocus name="flurl" id="flurl"
           value="https://192.168.151.29:3100/authenticate/daflqa/fastlink">
    <input type="text" class="login-input" placeholder="Access Token" autofocus name="accesstoken" id="accesstoken" value="1eHXrF89WAChV2hYl9jwjACTDan9">
    <input type="text" class="login-input" placeholder="Extra Params" autofocus name="extraparams" id="extraparams" value="configName=Aggregation&isIFrameMounted=true&obAppName=MultiCountry">
    <input type="submit" value="Log in" class="login-button">

</form>

</body>
</html>
