<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' href='./css/home.css'>

</head>
<body>
<div style='width: 100%;height: 100%'>
    <div>
        <h1>Yodlee FastLink Integration</h1>
        <div>
            <div id='btn-fastlink' class='button'>Link An Account</div>
            <div id='loader'></div>
        </div>
    </div>
    <div id='container-fastlink' class='box'>
        <a id='btn-close'></a>

    </div>
</div>
{{!-- <script type='text/javascript' src='https://cdn.yodlee.com/fastlink/v3/initialize.js'></script> --}}
<script type='text/javascript' src='/FL3/initialize.dev.js'></script>
{{!-- <script type='text/javascript' src='/FL3/initialize.js'></script> --}}
<script>
    (function (window) {
        window.addEventListener('message', function(event) {
            console.log('--===>*** 2 *** postmessageFormatter ', event);
            console.log('--===>*** 3 *** postmessageFormatter ', JSON.stringify(event.data));
        })
        var handlePostMessage = function(data) {
            if(data && data.type && data.type.length>0 || data && data.action === "exit") {
                if (data.type === "OPEN_EXTERNAL_URL") {
                    window.open(data.data.url)
                } else {
                    data = JSON.stringify(data)
                    if (window.ReactNativeWebView) {
                        window.ReactNativeWebView.postMessage(data);
                    }
                    if (window.SampleAppWebViewHandler) {
                        window.SampleAppWebViewHandler.postMessage(data);
                    }
                    if (window.webkit &&
                            window.webkit.messageHandlers &&
                            window.webkit.messageHandlers.SampleAppWebViewHandler) {
                        window.webkit.messageHandlers.SampleAppWebViewHandler.postMessage(data);
                    }
                }
                
            }
        }
        var fastlinkBtn = document.getElementById('btn-fastlink');
        fastlinkBtn.addEventListener('click', function () {
            window.fastlink.open({
                fastLinkURL: '{{ fastLinkURL }}',
                accessToken: '{{ accessToken }}',
                params: '{{extraParams }}',
                containerClass : "demo",
                forceIframe: true,
                windowResize:false,
                onSuccess: function (data) {
                    console.warn("--== postMessage :: onSuccess ", data);
                },
                onError: function (data) {
                    console.warn("--== postMessage ::  onError", data);
                },
                onExit: function (data) {
                    console.log('--== ** 1 ** handlePostMessage ', data);
                    handlePostMessage(data);
                    // document.getElementById('container-fastlink').style.display = 'none';
                    // document.getElementById('loader').style.display = 'none';
                    // document.getElementById('btn-fastlink').style.display = 'block';
                },
                onEvent: function (data) {
                    console.log('--== ** 2 ** handlePostMessage ', data);
                    handlePostMessage(data);
                }
            }, 'container-fastlink');
            document.getElementById('loader').style.display = 'block';
            document.getElementById('btn-fastlink').style.display = 'none';
            document.getElementById('container-fastlink').style.display='block';

        }, false);

        var closeBtn = document.getElementById('btn-close');
        closeBtn.addEventListener('click', function(){
            window.fastlink.close();
            //document.getElementById('container-fastlink').classList.remove('box');
            document.getElementById('container-fastlink').style.display = 'none';
            document.getElementById('loader').style.display = 'none';
            document.getElementById('btn-fastlink').style.display = 'block';

        }, false);

    }(window));
</script>
</body>
</html>
