<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/login.css">
</head>
<body>

<form class="login" method="post" action="/FL3/home">
    <h1 class="login-title">Cobrand User Login</h1>
    <input type="text"
           class="login-input"
           placeholder="FL URL"
           autofocus name="flurl" id="flurl"
           value="https://localhost:3000/authenticate/daflqa/">
    <input type="text" class="login-input" placeholder="Access Token" autofocus name="accesstoken" id="accesstoken">
    <input type="text" class="login-input" placeholder="Extra Params" autofocus name="extraparams" id="extraparams" value="obAppName=IQ Bank&obGuid=apo98870k&locationurl=www.facebok.com">
    <input type="submit" value="Log in" class="login-button">

</form>

</body>
</html>
