
body {
    background: #f7f7f7;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    margin: auto;
}

h1 {
    line-height: 30px;
    font-size: 25px;
    font-weight: 500;
    color: #888;
    text-align: center;
    margin-top: 10px;
}

.button {
    margin-left: -85px;
    margin-top: 100px;
    color: #fff;
    text-align: center;
    background: #0C76BE;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    display: block;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
    width: 170px;
    height: 50px;
    top: 50%;
    left: 50%;
    position: relative;
    vertical-align: middle;
    line-height: 45px;
}

#container-fastlink {
    display: none;
    height: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 450px;
    margin-left: -225px;
}

.box{
    background-color:#fff;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 1px 5px #333;
}
a#btn-close{
    float: right;
    margin-top: -20px;
    margin-right: -20px;
    cursor: pointer;
    color: #fff;
    border: 0px solid #AEAEAE;
    border-radius: 13px;
    background: #605F61;
    font-size: 22px;
    font-weight: bold;
    line-height: 0px;
    padding: 11px 6px;
}

#btn-close:before {
    content: "×";
}

#loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 20%;
    display: none;
}

@media screen and (max-width: 39.9375em) {
    #container-fastlink {
        display: none;
        height: auto;
        position: absolute;
        top: 10%;
        left: 50%;
        width: 325px;
        margin-left: -172px;
    }
}


/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
