body {
    background: #f7f7f7;
}
.login {
    margin: 20px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
    border: 1px solid #c4c4c4;
}

h1.login-title {
    margin: -28px -25px 15px;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 500;
    color: #888;
    text-align: center;
    margin-top: 10px;

}

.login-input {
    width: 285px;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-input:focus {
    border-color: #6e8095;
    outline: none;
}

.login-button {
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    background: #0C76BE;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    margin: auto;
    display: block;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
}

